// PHONE Portrait & Landscape
@media screen and(min-width: 320px) and(max-width:480px) {
}
// ---------------
// PHONE Portrait (all big mobile versions)
@media screen and(min-width: 320px) {
  .container-section-scene-TropicalOblivion {
    padding: 5em 0em 5em 0em;
    display: grid;
    grid-gap: 0em;
    grid-template-columns: repeat(auto-fit, minmax(260px));
    background-color: #f7f7f7; //
    //-----------------------------
    // SECTION IMAGE WHITE AND FLAG
    //
    .section-scene-threejs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      .container-TropicalOblivion {
        width: 80vw;
        // ---------------------
        .wrapper-scene-TropicalOblivion {
          background-color: #f7f7f7;
          display: flex;
          align-items: center;
          justify-content: center;

          .sceneTropicalOblivionAnima {
            width: 100%;
            height: 80vh;
            max-width: 1000px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            //
            position: relative;
            .blockerSceneTropicalOblivion {
              position: absolute;
              width: 100%;
              height: 100%;
              //   background-color: rgba(42, 252, 0, 0.527);
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .tropicalOblivionAnimation {
              width: 100%;
              height: 100%;
              text-align: center;
              max-width: 1000px;
              overflow: hidden;
              position: absolute;
              background: #1e3d1d23;
              //
              //
              display: flex;
              align-items: center;
              justify-content: center;
              .circlePlay {
                overflow: hidden;
                position: absolute;

                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                // top: 91vh;
                // left: 48vw;

                padding: 58px 52px;
                margin: 1em auto;
                border-radius: 50%;
                background-color: rgba(0, 195, 255, 0.24);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h3 {
                  color: #dadadac9;
                  font-size: 5vh;
                }
                ul {
                  margin-top: 15px;
                  list-style: none;
                  li {
                    margin-top: 2px;
                    font-size: 1.8vh;
                    color: #e0e0e0a4;
                    font-family: "Roboto-Light";
                  }
                }
              }
            }
          }
        }
        // -----------------
        // -----------------
        // -----------------
        // -----------------
        .scene-description-TropicalOblivion {
          background-color: #f7f7f7;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          .wrapper-scene-description-TropicalOblivion {
            padding: 15vh 0 10vh 0;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            .h3-text-img-TropicalOblivion {
              margin: 0 1vh 0 1vh;
              text-transform: uppercase;
              font-family: "Ubuntu-Regular";
              color: #131313;
              font-size: 5vh;
              text-align: right;
            }
            p {
              width: 80%;
              margin: 0 1vh 0 1vh;
              text-transform: uppercase;
              font-family: "Ubuntu-Regular";
              // color: #eeedeb;
              color: #131313;
              font-size: 2.8vh;
              text-align: left;
              letter-spacing: 2px;
            }
          }
        }
      }
      // -------------------------------
      // -------------------------------
    }
  }
}
// ---------------
// PHONE Landscape (100% content, really small devices)
// ---------------
@media screen and(max-width: 480px) {
}
// ---------------
// ---------------
//
// TABLET Portrait & Landscape
@media screen and(min-width: 768px) and(max-width:1024px) {
}

// ---------------
// TABLET Portrait
@media screen and(min-width: 768px) {
}
// ---------------
// TABLET Landscape
@media screen and(min-width:1024px) {
}

// ---------------
// ---------------
// Desktop
@media screen and(min-width:1224px) {
}
// ---------------
// LARGE Desktop
@media screen and(min-width:1824px) {
}
