@import "home";
@import "gravityPhysijs";
@import "fonts";

//
@import "fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  font-size: 16px;
}

html,
body {
  height: 100%;
}

body {
  // overscroll-behavior-y: none;
  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  // https://devcamp.com/trails/comprehensive-react-development-tutorial/campsites/react-build-ecommerce-shop/guides/how-to-make-html-text-less-fuzzy-css-font-smoothing
  //
}

// ----------------

body::-webkit-scrollbar {
  width: 0.5em;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255);
}
body::-webkit-scrollbar-thumb {
  background-color: #000000;
  // #836400; nice yellow ochre , matches with the purple #180b14;
  outline: none;
}
// ----------------

.App {
  #wrapper-app {
    width: 100vw;
    height: auto;
    padding: 0 0 0 0;
    background-color: #f7f7f7; //
    // background-color: #cc4a27;
    transition: transform 0.25s;
    /* will keep a tracker so it runs really quickly */
    will-change: transform;
    overflow: hidden;
  }

  //
  //

  //
}
